{% extends "base.html" %}

{% block content %}
    <!-- Handle group assignment of participants - A or B -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="mb-5">Welcome to the Research Study</h2>
                
                <p>
                    Thank you for your participation.
                </p>
                <p>
                    You will now be randomly assigned to a group in order to take part in this study. Please click the button below
                </p>
                
                {% if not group %}
                    <form action="/assign_group" method="post">
                        <input type="submit" class="btn btn-primary mt-3" value="Get Group">
                    </form>
                {% else %}
                    <hr>
                    <div class="group-box mb-4 mt-4" id="group-box">
                        <span class="mb-4 mt-4"><strong>Group {{ group }}</strong></span>
                    </div>
                    <hr>
                    <p> You will now be asked to complete an online activity followed by a post survey in order to conclude the study.</p>
                    <a href="{{ next_page }}" class="btn btn-primary mt-3 mb-4">Proceed</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var groupBox = document.getElementById("group-box");
            
            // Check the content and apply border styles
            if (groupBox && groupBox.textContent.includes("Group A")) {
                groupBox.style.borderColor = "#5454fe";
            } else if (groupBox && groupBox.textContent.includes("Group B")) {
                groupBox.style.borderColor = "#fe7654";
            }
        });
    </script>
{% endblock %}


