{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div id="ethics">
                <h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Informed_Consent_0"></a>INFORMED CONSENT</h1>
                    <hr>
                    <h3 class="code-line" data-line-start="2" data-line-end="3" ><a id="Study_Name_2"></a>Study Name:</h2>
                    <p class="has-line-data" data-line-start="3" data-line-end="4">Animation vs Infographic: Does content delivery matter when explaining statistical concepts?</p>
                    <h3 class="code-line" data-line-start=5 data-line-end=6 ><a id="Purpose_of_the_Research_5"></a>Purpose of the Research:</h2>
                    <p class="has-line-data" data-line-start="6" data-line-end="7">This research project aims to investigate the effectiveness of using animations vs infographics in educating psychology undergraduate students on core statistical concepts. The study will focus on core concepts that are taught in 2000-level psychology introductory statistics courses at York University.</p>
                    <h3 class="code-line" data-line-start="8" data-line-end="9"><a id="What_You_Will_Be_Asked_to_Do_in_the_Research_8"></a>What You Will Be Asked to Do in the Research:</h3>
                    <p class="has-line-data" data-line-start="11" data-line-end="12">You will be asked to engage in some short activities that provide you with some information about some basic statistical concepts. Before accessing these activities you will be asked to complete a <u><i>pre-survey</i></u> (pre-existing knowledge, general background questions), after which you will be randomly assigned to one of two groups. The overall structure is laid out below:</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Pre-Survey</b> (approx. 3 min to complete)</p>
                    <p>-----------------------------------</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Group A</b> - will view Animation content (approx. 10-15 min to complete)</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Group A Post-Survey</b> (approx. 5 min to complete)</p>
                    <p>OR</p>
                    <p class="has-line-data" data-line-start="15" data-line-end="16">● <b>Group B</b> - will view Infographic content (approx. 10-15 min to complete)</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Group B Post-Survey</b> (approx. 5 min to complete)</p>
                    <p>-----------------------------------</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Debrief</b> (approx. 5 min to review)</p>
                    <p class="has-line-data" data-line-start="17" data-line-end="18">After completing one of these two activities you will be asked to complete a <u><i>post-survey</i></u> (knowledge of concepts, feedback on clarity, usefulness, suggestions/recommendations). You will be debriefed on the last page and also given the chance to view the correct answers to the quizzes and be given the chance to participate in an Amazon gift card giveaway. We estimate the study will take no more than 30 minutes to complete. </p>
                    <h3 class="code-line" data-line-start="21" data-line-end="22" ><a id="Risks_and_Discomforts_11"></a>Risks and Discomforts:</h2>
                    <p class="has-line-data" data-line-start="22" data-line-end="23">Your participation in this study will involve viewing educational content and subsequently answering quizzes based on the material presented. We want to assure you that the risks associated with this study are <b>minimal</b>, primarily including potential feelings of anxiety or nervousness while answering questions on the quizzes. However, no serious harm will come to you as a result of your participation. None of your grades will be impacted by how you perform on the quizzes in this study and you will be given the opportunity to review the content to aid you when answering. We do not foresee any risks or discomfort from your participation in the research.</p>
                    <h3 class="code-line" data-line-start="24" data-line-end="25" ><a id="Benefits_of_the_Research_and_Benefits_to_You_14"></a>Benefits of the Research and Benefits to You:</h2>
                    <p class="has-line-data" data-line-start="25" data-line-end="26">Benefits of this research are that findings can inform teaching practices in terms of the type of activities offered to students especially in ways that accommodate the range of learning styles and pace, more interactive experiences with course content, and more formative assessments and feedback that allow students to reflect on their own work.</p>
                    <h3 class="code-line" data-line-start="27" data-line-end="28" ><a id="Voluntary_Participation_and_Withdrawal_17"></a>Voluntary Participation and Withdrawal:</h2>
                    <p class="has-line-data" data-line-start="29" data-line-end="30">Your participation in the study is completely voluntary and you may choose to stop participating at any time.  Your decision not to volunteer, to stop participating, or to refuse to answer particular questions will not influence the nature of your relationship with York University either now, or in the future.</p>
                    <p>Please note that due to the anonymous nature of the survey, data cannot be deleted after the survey has been completed/submitted. If a participant withdraws prior to completing/submitting the survey (e.g., closing the browser, or exiting the survey), the data will not be used and will be deleted.</p>
                    <h3 class="code-line" data-line-start="31" data-line-end="32" ><a id="Confidentiality_20"></a>Confidentiality:</h2>
                    <p class="has-line-data" data-line-start="33" data-line-end="34">All information you supply during the research will be held in confidence. Data will be collected through the online platform, Qualtrics, in an anonymous manner, and stored on a secure server, data repository and/or encrypted USB. These data will be kept indefinitely in order to inform and advance the scientific/scholarly community. After the data collection period, which is occurring over a 2-year period, these data will be shared in an anonymized form publicly on a data repository like Open Science Framework (OSF) or Dataverse. Confidentiality will be provided to the fullest extent possible by law.</p>
                    <p>York University Dataverse is an institutional research data repository managed by York University Libraries and provided by Scholars Portal on behalf of the Ontario Council of University Libraries (OCUL), through which researchers from around the world will have access to these data for future research, through a CC standard data sharing license.</p>
                    <p>York University Dataverse does NOT accept content that contains confidential or sensitive information. Dataverse can be used to share de-identified and non-confidential data only. Contributors are required to remove, replace, or redact such information from datasets prior to upload. Scholars Portal makes backup copies of the uploaded data regularly in the event of a server or system malfunction, malicious attack, or other technical issues.</p>
                    <p class="has-line-data" data-line-start="35" data-line-end="36">The data collected in this research project may be used – in an anonymized form - by members of the research team in subsequent research investigations exploring similar lines of inquiry.  Such projects will still undergo ethics review by the HPRC, our institutional REB.  Any secondary use of anonymized data by the research team will be treated with the same degree of confidentiality and anonymity as in the original research project.</p>
                    <p class="has-line-data" data-line-start="37" data-line-end="38">The researcher(s) acknowledge that the host of the online survey (i.e., Qualtrics) may automatically collect participant data without their knowledge (i.e., IP addresses.) Although this information may be provided or made accessible to the researchers, it will not be used or saved without participant’s consent on the researcher’s system.  Further, because this project employs e-based collection techniques, data may be subject to access by third parties as a result of various security legislation now in place in many countries and thus the confidentiality and privacy of data cannot be guaranteed during web-based transmission.</p>
                    <h3 class="code-line" data-line-start="39" data-line-end="40" ><a id="Questions_About_the_Research_27"></a>Questions About the Research?</h2>
                    <p class="has-line-data" data-line-start="41" data-line-end="42">If you have questions about the research in general or about your role in the study, please feel free to contact Dr. Herbert by e-mail (<a href="mailto:herbertm@yorku.ca">herbertm@yorku.ca</a>).  This research has received ethics review and approval by the Human Participants Review Sub-Committee, York University’s Ethics Review Board and conforms to the standards of the Canadian Tri-Council Research Ethics guidelines. If you have any questions about this process, or about your rights as a participant in the study, please contact the Director, Research Ethics in the Office of Research Ethics, York University (<a href="mailto:ore@yorku.ca">ore@yorku.ca</a>).</p>
                    <h3 class="code-line" data-line-start="43" data-line-end="44" ><a id="Legal_Rights_and_Signatures_29"></a>Legal Rights and Signatures:</h2>
                    <p class="has-line-data mb-4" data-line-start="45" data-line-end="46">I have understood the nature of this project being conducted by Dr. Herbert and Nahuel Melgarejo.  I am not waiving any of my legal rights by consenting to participate in this research.</p>information you supply during the research will be held in confidence. Data will be collected through the online platform, Qualtrics, in an anonymous manner, and stored on a secure server, data repository and/or encrypted USB. These data will be kept indefinitely in order to inform and advance the scientific/scholarly community. After the data collection period, which is occurring over a 2-year period, these data will be shared in an anonymized form publicly on a data repository like Open Science Framework (OSF) or Dataverse. Confidentiality will be provided to the fullest extent possible by law.</p>
            </div>
            <div class="consent-box mt-5">
                <div class="form-check">
                    <input class="form-check-input me-2 mt-2" type="checkbox" id="consentCheckbox">
                    <label class="form-check-label fw-bold fs-4" for="consentCheckbox">I give my consent to participate in this study</label>
                </div>
            </div>            
            <a class="btn btn-secondary mt-3 mb-5 fs-4" id="agreeBtn" disabled>Agree</a>
        </div>
    </div>
</div>

<script>
    const consentCheckbox = document.getElementById('consentCheckbox');
    const agreeBtn = document.getElementById('agreeBtn');

    consentCheckbox.addEventListener('change', function() {
        if (this.checked) {
            agreeBtn.disabled = false;
            agreeBtn.classList.remove('btn-secondary');
            agreeBtn.classList.add('btn-primary');
        } else {
            agreeBtn.disabled = true;
            agreeBtn.classList.remove('btn-primary');
            agreeBtn.classList.add('btn-secondary');
        }
    });

    // Handle the button click
    agreeBtn.addEventListener('click', function() {
        if (consentCheckbox.checked) {
            window.location.href = "/pre_survey?participantID={{ participantID }}";
        }
    });
</script>
{% endblock %}