{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div id="ethics">
                <h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Informed_Consent_0"></a>INFORMED CONSENT</h1>
                    <hr>
                    <h3 class="code-line" data-line-start="2" data-line-end="3" ><a id="Study_Name_2"></a>Study Name:</h2>
                    <p class="has-line-data" data-line-start="3" data-line-end="4">Animation vs Infographic: Does content delivery matter when explaining statistical concepts?</p>
                    <h3 class="code-line" data-line-start=5 data-line-end=6 ><a id="Purpose_of_the_Research_5"></a>Purpose of the Research:</h2>
                    <p class="has-line-data" data-line-start="6" data-line-end="7">The purpose of this project is to evaluate different types of online activities for statistics that are designed to promote active learning (i.e., actively engaging students with course material in multiple ways such as problem solving, discussion, and other methods).</p>
                    <h3 class="code-line" data-line-start="8" data-line-end="9" ><a id="What_You_Will_Be_Asked_to_Do_in_the_Research_8"></a>What You Will Be Asked to Do in the Research:</h2>
                    <p class="has-line-data" data-line-start="9" data-line-end="10">You will be asked to engage in some short activites that provides you with some information about some basic statistical concepts.</p>
                    <p class="has-line-data" data-line-start="11" data-line-end="12">Before accessing these activities you will be asked to complete a <u><i>pre-survey</i></u> (pre-existing knowledge, general background questions, etc…), after which you will be randomly assigned to one of 2 groups:</p>
                    <p class="has-line-data" data-line-start="13" data-line-end="14">● <b>Group A</b> - will view Animation content (approx. 10-15 min to complete)</p>
                    <p class="has-line-data" data-line-start="15" data-line-end="16">● <b>Group B</b> - will view Infographic content (approx. 10-15 min to complete)</p>
                    <p class="has-line-data" data-line-start="17" data-line-end="18">After completing one of these two activities you will be asked to complete a <u><i>post-survey</i></u> (knowledge of concepts, feedback on clarity, usefuleness, suggesstions/recommendations etc…)</p>
                    <p class="has-line-data" data-line-start="19" data-line-end="20">You will be debriefed on the last page and also directed to a giveaway survey.</p>
                    <h3 class="code-line" data-line-start="21" data-line-end="22" ><a id="Risks_and_Discomforts_11"></a>Risks and Discomforts:</h2>
                    <p class="has-line-data" data-line-start="22" data-line-end="23">We do not foresee any risks or discomfort from your participation in the research.</p>
                    <h3 class="code-line" data-line-start="24" data-line-end="25" ><a id="Benefits_of_the_Research_and_Benefits_to_You_14"></a>Benefits of the Research and Benefits to You:</h2>
                    <p class="has-line-data" data-line-start="25" data-line-end="26">Benefits of this research are that findings can inform teaching practices in terms of the type of activities offered to students especially in ways that accommodate the range of learning styles and pace, more interactive experiences with course content, and more formative assessments and feedback that allow students to reflect on their own work.</p>
                    <h3 class="code-line" data-line-start="27" data-line-end="28" ><a id="Voluntary_Participation_and_Withdrawal_17"></a>Voluntary Participation and Withdrawal:</h2>
                    <p class="has-line-data" data-line-start="29" data-line-end="30">Your participation in the study is completely voluntary and you may choose to stop participating at any time.  Your decision not to volunteer, to stop participating, or to refuse to answer particular questions will not influence the nature of your relationship with York University either now, or in the future. In the event you withdraw from the study, all associated data collected will be immediately destroyed wherever possible.</p>
                    <h3 class="code-line" data-line-start="31" data-line-end="32" ><a id="Confidentiality_20"></a>Confidentiality:</h2>
                    <p class="has-line-data" data-line-start="33" data-line-end="34">All information you supply during the research will be held in confidence. Data will be collected through the online platform, Qualtrics, in an anonymous manner, and stored on a secure server, data repository and/or encrypted USB. These data will be kept indefinitely in order to inform and advance the scientific/scholarly community. After the data collection period, which is occurring over a 2-year period, these data will be shared in an anonymized form publicly on a data repository like Open Science Framework (OSF) or Dataverse. Confidentiality will be provided to the fullest extent possible by law.</p>
                    <p class="has-line-data" data-line-start="35" data-line-end="36">The data collected in this research project may be used – in an anonymized form - by members of the research team in subsequent research investigations exploring similar lines of inquiry.  Such projects will still undergo ethics review by the HPRC, our institutional REB.  Any secondary use of anonymized data by the research team will be treated with the same degree of confidentiality and anonymity as in the original research project.</p>
                    <p class="has-line-data" data-line-start="37" data-line-end="38">“The researcher(s) acknowledge that the host of the online survey (i.e., Qualtrics) may automatically collect participant data without their knowledge (i.e., IP addresses.) Although this information may be provided or made accessible to the researchers, it will not be used or saved without participant’s consent on the researcher’s system.  Further, “Because this project employs e-based collection techniques, data may be subject to access by third parties as a result of various security legislation now in place in many countries and thus the confidentiality and privacy of data cannot be guaranteed during web-based transmission.”</p>
                    <h3 class="code-line" data-line-start="39" data-line-end="40" ><a id="Questions_About_the_Research_27"></a>Questions About the Research?</h2>
                    <p class="has-line-data" data-line-start="41" data-line-end="42">If you have questions about the research in general or about your role in the study, please feel free to contact Dr. Herbert by e-mail (<a href="mailto:herbertm@yorku.ca">herbertm@yorku.ca</a>).  This research has received ethics review and approval by the Human Participants Review Sub-Committee, York University’s Ethics Review Board and conforms to the standards of the Canadian Tri-Council Research Ethics guidelines. If you have any questions about this process, or about your rights as a participant in the study, please contact the Sr. Manager &amp; Policy Advisor for the Office of Research Ethics, 5th Floor, Kaneff Tower, York University (telephone 416-736-5914 or e-mail <a href="mailto:ore@yorku.ca">ore@yorku.ca</a>).</p>
                    <h3 class="code-line" data-line-start="43" data-line-end="44" ><a id="Legal_Rights_and_Signatures_29"></a>Legal Rights and Signatures:</h2>
                    <p class="has-line-data mb-4" data-line-start="45" data-line-end="46">I have understood the nature of this project being conducted by Dr. Herbert.  I am not waiving any of my legal rights by consenting to participate in this research.</p>information you supply during the research will be held in confidence. Data will be collected through the online platform, Qualtrics, in an anonymous manner, and stored on a secure server, data repository and/or encrypted USB. These data will be kept indefinitely in order to inform and advance the scientific/scholarly community. After the data collection period, which is occurring over a 2-year period, these data will be shared in an anonymized form publicly on a data repository like Open Science Framework (OSF) or Dataverse. Confidentiality will be provided to the fullest extent possible by law.</p>
            </div>
            <div class="consent-box mt-5">
                <div class="form-check">
                    <input class="form-check-input me-2 mt-2" type="checkbox" id="consentCheckbox">
                    <label class="form-check-label fw-bold fs-4" for="consentCheckbox">I give my consent to participate in this study</label>
                </div>
            </div>            
            <a class="btn btn-secondary mt-3 mb-5 fs-4" id="agreeBtn" disabled>Agree</a>
        </div>
    </div>
</div>

<script>
    const consentCheckbox = document.getElementById('consentCheckbox');
    const agreeBtn = document.getElementById('agreeBtn');

    consentCheckbox.addEventListener('change', function() {
        if (this.checked) {
            agreeBtn.disabled = false;
            agreeBtn.classList.remove('btn-secondary');
            agreeBtn.classList.add('btn-primary');
        } else {
            agreeBtn.disabled = true;
            agreeBtn.classList.remove('btn-primary');
            agreeBtn.classList.add('btn-secondary');
        }
    });

    // Handle the button click
    agreeBtn.addEventListener('click', function() {
        if (consentCheckbox.checked) {
            window.location.href = "/pre_survey?participantID={{ participantID }}";
        }
    });
</script>
{% endblock %}