{% extends "base.html" %}

{% block content %}
    <!-- Your index.html specific content goes here -->
    <div class="jumbotron">
        <div class="container mt-5">
          <h1 class="display-4 mb-3"><b><strong>Animation vs Infographic:</strong></b></h1>
          <h2 class="display-6 mb-4"><b>Does content delivery matter when explaining statistical concepts?</b></h2>
          <p class="lead">by Nahuel Melgarejo</p>
          <p class="lead">supervised by Dr. Herbert</p>
          <p class="lead">Department of Psychology</p>
          <p class="lead">2023</p>
          <hr class="my-4">
          <div id="research-aims">
            <p class="has-line-data" data-line-start="0" data-line-end="1">This research project aims to investigate the effectiveness of different types of content in educating participants on core statistical concepts. The study will focus on concepts that are taught in 2000-level statistics courses at York University:</p>
            <ul>
                <li class="has-line-data" data-line-start="2" data-line-end="3">Central Tendency</li>
                <li class="has-line-data" data-line-start="3" data-line-end="5">Variability</li>
            </ul>
            <p class="has-line-data" data-line-start="2" data-line-end="3">Participants will be asked to complete a <b>pre-survey</b> to gauge their confidence in their statistics knowledge before being randomly assigned to one of two groups - Group A or Group B.</p>
            <p class="has-line-data" data-line-start="4" data-line-end="5">After viewing the content, participants will take a <b>post-survey</b> to evaluate their understanding of the statistical concepts that were explained and presented.</p>
            <p class="has-line-data" data-line-start="4" data-line-end="5">Finally, you will be debriefed on the last web page where participants will be given a chance to win <b>one</b> of <b>four $25 Amazon gift cards</b> by entering an email.</p>
          </div>
          <a class="btn btn-primary btn-lg mt-3 mb-5" href="/ethics" role="button">Proceed</a>
        </div>
    </div>
{% endblock %}




