{% extends "base.html" %}

{% block content %}
    <!-- Override defaults with appropriate progress value -->
    {% set progress_width = '60%' %}
    {% set progress_value = '60' %}
    {% set progress_text = '3/5' %}
    <!-- Inherit Progress Bar -->
    {% include "progress_bar_infographic.html" %}

    <!-- Infographic Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">                
                <!-- Title above the infographic -->
                <h2 class="fw-bolder mb-4">Chapter 1: Central Tendency</h2>
                <p>If you've observed something and wondered, 'What's typical here?', you're thinking of <i>central tendency.</i></p>
                <p>Central tendency helps us identify the center or middle of our data through these three measures:</p>
                <p><b><i> i) Mean</i></b></p>
                <p><b><i> ii) Median</i></b></p>
                <p><b><i> iii) Mode</i></b></p>

                <!-- Display the infographic. Adjust the src attribute to point to the correct infographic image. -->
                <img src="/assets/infographics/infographic3.png" alt="Infographic 3" class="img-fluid" id="infographicImg">
                <!-- Blue Back button -->
                <a href="/infographic2" class="btn btn-outline-dark mt-3 mb-4">Back</a>
                <!-- Button to make the infographic full screen -->
                <button class="btn btn-secondary mt-3 me-2 mb-4" onclick="toggleFullscreen()">Fullscreen</button>
                <!-- Link to Next Infographic or Survey (adjust based on infographic number) -->
                <a href="/infographic4" class="btn btn-primary mt-3 mb-4">Next</a>
            </div>
        </div>
    </div>

    
    <script>
        function toggleFullscreen() {
            let elem = document.getElementById('infographicImg');
            
            if (!document.fullscreenElement) {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { /* Firefox */
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { /* Chrome, Safari & Opera */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE/Edge */
                    document.msExitFullscreen();
                }
            }
        }
    </script>
{% endblock %}

