{% extends "base.html" %}

{% block content %}
    <!-- Override defaults with appropriate progress value -->
    {% set progress_width = '40%' %}
    {% set progress_value = '40' %}
    {% set progress_text = '2/5' %}
    <!-- Inherit Progress Bar -->
    {% include "progress_bar_infographic.html" %}

    <!-- Infographic Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">                
                <!-- Title above the infographic -->
                <h2 class="fw-bolder mb-4">Introduction</h2>
                <p>Statistics helps us understand and use data correctly. It's like a tool for making smart choices in many jobs and daily life. Look below to view a simple example of this.</p>
                <!-- Display the infographic. Adjust the src attribute to point to the correct infographic image. -->
                <img src="/assets/infographics/infographic2.png" alt="Infographic 2" class="img-fluid" id="infographicImg">
                <!-- Blue Back button -->
                <a href="/infographic1?participantID={{ participantID }}" class="btn btn-outline-dark mt-3">Back</a>
                <!-- Button to make the infographic full screen -->
                <button class="btn btn-secondary mt-3 me-2" onclick="toggleFullscreen()">Fullscreen</button>
                <!-- Link to Next Infographic or Survey (adjust based on infographic number) -->
                <a href="/infographic3?participantID={{ participantID }}" class="btn btn-primary mt-3">Next</a>
            </div>
        </div>
    </div>

    <script>
        function toggleFullscreen() {
            let elem = document.getElementById('infographicImg');
            
            if (!document.fullscreenElement) {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { /* Firefox */
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { /* Chrome, Safari & Opera */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE/Edge */
                    document.msExitFullscreen();
                }
            }
        }
    </script>
{% endblock %}


