{% extends "base.html" %}

{% block content %}

    <!-- Override defaults with appropriate progress value -->
    {% set progress_width = '100%' %}
    {% set progress_value = '100' %}
    {% set progress_text = '5/5' %}
    <!-- Inherit Progress Bar -->
    {% include "progress_bar_infographic.html" %}

    <!-- Infographic Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">                
                <!-- Title above the infographics -->
                <h2 class="fw-bolder mb-4">Chapter 3: Putting it all together</h2>
                <p> Recall that <i>Standard Deviation</i> is simply a measure of how spread out the values in a dataset are around the <strong>mean.</strong></p>
                <p><b>•</b> If the standard deviation is low (relative to the mean), it means that the data points tend to cluster more closely to the mean.</p>
                <p><b>•</b> If the standard deviation is high (relative to the mean), it means that the data points are spread out over a wider range of values.</p>
                <!-- Display the first infographic. -->
                <img src="/assets/infographics/infographic5.png" alt="Infographic 5" class="img-fluid mb-3" id="infographicImg">
                <!-- Button to make the first infographic full screen -->
                <button class="btn btn-secondary mt-3 mb-4" onclick="toggleFullscreen('infographicImg')">Fullscreen</button>

                <p>If you're wondering how to interpret the Standard Deviation lines above, look below for a clearer picture.</p>
                <!-- Display the second infographic. -->
                <img src="/assets/infographics/infographic5b.png" alt="Infographic 5b" class="img-fluid mb-3" id="infographicImgB">
                <!-- Blue Back button, Fullscreen button for the second infographic, and Complete Survey button -->
                <a href="/infographic4?participantID={{ participantID }}" class="btn btn-outline-dark mt-3 mb-4">Back</a>
                <button class="btn btn-secondary mt-3 mb-4" onclick="toggleFullscreen('infographicImgB')">Fullscreen</button>
                <a href="/post_survey_infographic?participantID={{ participantID }}" class="btn btn-primary mt-3 mb-4">Complete Survey</a>
            </div>
        </div>
    </div>

    <script>
        function toggleFullscreen(elemId) {
            let elem = document.getElementById(elemId);
            
            if (!document.fullscreenElement) {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { /* Firefox */
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { /* Chrome, Safari & Opera */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE/Edge */
                    document.msExitFullscreen();
                }
            }
        }
    </script>
{% endblock %}


