{% extends "base.html" %}

{% block content %}
    <!-- Override defaults with appropriate progress value -->
    {% set progress_width = '100%' %}
    {% set progress_value = '100' %}
    {% set progress_text = '4/4' %}
    <!-- Inherit Progress Bar -->
    {% include "progress_bar_video.html" %}


    <!-- Video Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <!-- Title above the infographic -->
                <h2 class="fw-bolder mb-4">Chapter 3: Putting it all together</h2>
                <video controls width="100%">
                    <source src="../assets/videos/video4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <a href="/video3" class="btn btn-outline-dark mt-3">Back</a>
                <a href="/post_survey_videos" class="btn btn-primary mt-3">Complete Survey</a>
            </div>
        </div>
    </div>
{% endblock %}