{% extends "base.html" %}

{% block content %}
    <!-- Inherit Progress Bar -->
    {% include "progress_bar_video.html" %}

    <!-- Video Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <!-- Dismissible Alert -->
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p><b>👀😄 It's highly important you finish each video to completion 😄👀</b></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Title above the video -->
                <h2 class="fw-bolder mb-4">Getting Started</h2>
                <p>You can turn off captions by clicking the three dots.</p>
                <video controls width="100%">
                    <source src="/assets/videos/video1.mp4" type="video/mp4">
                    <track src="../assets/subtitles/video1_subtitles.vtt" kind="subtitles" srclang="en" label="English" default>
                    Your browser does not support the video tag.
                </video>

                
                <!-- Link to Next Video or Survey (adjust based on video number) -->
                <a href="/video2" class="btn btn-primary mt-3">Next</a>
            </div>
        </div>
    </div>


{% endblock %}

